body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.productview{
  color : black;
  font-family: "Monospace", Times, serif;
  font-size: 12px;
  text-align: center;
}

.bordering{

}

.footer{
  display: block;
  position: fixed;
  text-align: center;
  bottom: 0;
  background: #e3f2fd;
  width: 100%;
}
